---
import HeaderMenu from "../components/HeaderMenu.astro"
import AsideMenu from "../components/AsideMenu.astro"
import { ClientRouter } from 'astro:transitions';
import PlayerMenu from "../components/PlayerMenu";


const {title, imageURL} = Astro.props

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<div id="app" class="p-2 h-screen bg-black">
			<header id="header" class="bg-black flex align-center justify-between">
				<HeaderMenu/>
			</header>
			<aside id="aside" class="bg-primary rounded-md h-full">
				<AsideMenu/>
			</aside>
			<main id="main" class="[grid-area:main] rounded-md bg-zinc-900 overflow-y-auto w-full">
				<slot/>
			</main>
			<footer id="player" class="bg-black">
				<PlayerMenu client:visible transition:name = "media player" transition:persist />	
			</footer>
		</div>
	</body>
</html>

<style is:global>

	#app {
		display: grid;
		grid-template-columns: 1fr 1fr 2fr;
		grid-template-rows: 55px 1fr 90px;
		column-gap: 0.5rem;
		row-gap: 0.2rem;
		height: 100vh;
	}
	#header {
		grid-column: 1 / 4;
		grid-row: 1;
	}
	#aside {
		grid-column: 1;
		grid-row: 2;
		height: 100%;
	}
	#main {
		grid-column: 2 / 4;
		grid-row: 2;
	}
	#player {
		grid-column: 1 / 4;
		grid-row: 3;
	}
	body {
		margin: 0;
		scrollbar-color: #22e339 #1F2937;
		scrollbar-width: none;
		background-color: black;
	}
</style>